@font-face {
  font-family: "iconfont"; /* Project id 4982689 */
  src: url('iconfont.woff2?t=1753280562489') format('woff2'),
       url('iconfont.woff?t=1753280562489') format('woff'),
       url('iconfont.ttf?t=1753280562489') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-ziyuan10-copy:before {
  content: "\e603";
}

.icon-aixin:before {
  content: "\e604";
}

.icon-chanpin:before {
  content: "\e605";
}

.icon-dianzan:before {
  content: "\e606";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-gouwuche:before {
  content: "\e608";
}

.icon-zhuanfa:before {
  content: "\e609";
}

.icon-bianji:before {
  content: "\e60a";
}

.icon-dingdan:before {
  content: "\e60b";
}

.icon-sousuo:before {
  content: "\e60c";
}

.icon-shezhi:before {
  content: "\e60d";
}

.icon-weixiu:before {
  content: "\e60e";
}

.icon-shanchu:before {
  content: "\e60f";
}

.icon-shijian:before {
  content: "\e610";
}

.icon-shouye:before {
  content: "\e611";
}

.icon-xiaoxi:before {
  content: "\e612";
}

.icon-saoma:before {
  content: "\e613";
}

.icon-shuju:before {
  content: "\e614";
}

.icon-wode:before {
  content: "\e615";
}

.icon-shangdian:before {
  content: "\e616";
}

.icon-fenlei:before {
  content: "\e617";
}

.icon-zhengjian:before {
  content: "\e618";
}

.icon-dingdan1:before {
  content: "\e619";
}

.icon-tiaoshi:before {
  content: "\e61a";
}

.icon-xingxing:before {
  content: "\e61b";
}

